.top_container{
padding-top: 100px;
background-image: linear-gradient(white, #A5F1E9, #7FBCD2);
}
p{
  margin: 0 ;
  font-size: 20px;
  line-height: 2;
  font-weight: normal;
}
.middle_container{
  background-image: linear-gradient(#A5F1E9, white, #7FBCD2);
}
.bottom_container{
  padding-top: 100px;
  background-image: linear-gradient(white, #A5F1E9, #7FBCD2);
}
h1{
margin : 0px;
font-family: 'Dancing Script', cursive;
color: #11999E;
font-size: 60px;
}
h2{
  color: #372948;
}
h3{
  color: #11999E;
}
body{
  margin: 0px;
  text-align: center;
  font-family:serif;
}
.mountain{
}
.cloud-2{
  position: absolute;
}
.cloud-1{
  display: inline-block;
  position: relative;
  left: 300px;
}
.gurukiran_pic{
height: 300px;
width: 300px;
}
.skill_gif{
  height: 250px;
  width: 40%;
  border-radius: 80%;
  float: left;
}
.gif2{
  height: 250px;
  width: 40%;
  border-radius: 100%;
  float: right;
  margin-left: 5%
}

hr{
  border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
}
.alpha{
  margin-left: 50%;
}
.beta{
margin-bottom: 50px;
}
.contact-me{
  height: 250px;
}
.btn{
  background-color: #372948;
  border-radius: 15%;
  padding: 15px;
  color:#ffffff;
}
.intro{
  width: 30%;
  margin: auto;
}
a{
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #ffffff;
}
.copy_right{
  color: #EAF6F6;
  padding: 50px 0px;
  font-size: 0.75rem;
}
